process {
  withLabel: lowcpu { cpus = 4 }
  withLabel: midcpu { cpus = 4 }
  withLabel: highcpu { cpus = 15 }
  withLabel: vhighcpu { cpus = 30 }
  withLabel: lowmem { memory = 60.GB }
  withLabel: midmem { memory = 60.GB }
  withLabel: highmem { memory = 110.GB }
  withLabel: vhighmem { memory = 110.GB }
  withLabel: lowtime { time = "20m" }
  withLabel: midtime { time = "40m" }
  withLabel: hightime { time = "60m" }
  withLabel: vhightime { time = "120m" }
  withLabel: vvhightime { time = "360m" }
  withLabel: gpu { maxForks = 1; containerOptions = '--gpus all' }
}
